/* Stylesheet uses Level 3 Media Queries. Level 4 coverage still spotty. */
body {
    background: #fdfcff;
}

#container {
    width: 90%;
    height: 90vh;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 5%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

header {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
}

/* Map styles */
.map-container {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: 1;
}

section {
    width: 100%;
    max-width: 700px;
    margin: 0;
    padding: 0;
    flex: initial;
}

/* Font styles and their media queries */
h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 600;
    color: #1a1c1e;
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    font-weight: 400;
    color: #1a1c1e;
}

/* Media queries for fonts */
@media (min-width: 300px) and (max-width: 399px) {
    p {
        font-size: 0.875em; /* 14px */
    }

    h1 {
        font-size: 1.125em; /* 18 px */
    }
}

@media (min-width: 400px) and (max-width: 499px) {
    p {
        font-size: 0.9375em; /* 15px */
    }

    h1 {
        font-size: 1.1875em; /* 19px */
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    p {
        font-size: 1em; /* 16px */
    }

    h1 {
        font-size: 1.25em; /* 20px */
    }
}

@media (min-width: 600px) {
    p {
        font-size: 1.0625em; /* 17px */
    }

    h1 {
        font-size: 1.3125em; /* 21px */
    }
}